* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'FiraCodeNerdFont'; /* Choose a name for your font */
    src: url('FiraCodeNerdFont-Regular.ttf') format('truetype'); /* Update the path to your Fira Code Nerd Font file */
    /* You can include additional font formats here, like woff or woff2, for better browser compatibility */
}

body {
    background-color: #380000;
}

h1, .about, .links, .abweb {
    font-family: FiraCodeNerdFont;
    text-align: center;
    color: rgba(0, 0, 0, 0.459);
}

a:link, a:visited, a:hover {
    color: rgba(0, 0, 0, 0.459);
}

.abweb {
    position: fixed;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
}
